// Working with fonts ====================================================================================================

// Site for font conversion https://transfonter.org/

// Connect icon fonts ====================================================================================================
// Include if there is an icon font file

// @import "icon";

// Default font ==============================================================================================================================================================================================================================================================================

$fontFamily: "San Francisco Display";

// An example of connecting a font ====================================================================================================

@font-face {
  font-family: 'San Francisco Display';
  src: url('../../fonts/SanFranciscoDisplay-Regular.woff2') format('woff2'),
  url('../../fonts/SanFranciscoDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

