// We work with colors ====================================================================================================

// Base color

$mainColor: #1D1D1F; // Default font color

// Other colors

$blackColor: #000;
$darkColor: #707070;
$lightGreyColor: #D6D6D6;
$whiteColor: #fff;
$lightColor: #F5F5F7;
$blueColor: #0066CC;
$orangeColor: #FD6A13;
$redColor: #C82026;